

<div class="sidebar bg-dark">
<a href="#home" class="active"><i class="fa fa-home"></i> <span class="ms-1 d-none d-sm-inline">Home</span></a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
</div>