<div class="sidebar bg-dark">
<a href="#home" class="active"><i class="fa fa-home"></i> <span class="ms-1 d-none d-sm-inline">Home</span></a>
<a href="#battery"><i class="fas fa-battery-full"></i><span class="ms-1 d-none d-sm-inline">Batteries</span></a>
<a href="#shop"><i class="fas fa-shopping-cart"></i><span class="ms-1 d-none d-sm-inline">Shop</span></a>
<a href="#about"><i class="fa-solid fa-address-card"></i><span class="ms-1 d-none d-sm-inline">All Brands</span></a>
<a href="#contact"><i class="fa-solid fa-tags"></i><span class="ms-1 d-none d-sm-inline">Hot deals</span></a>
  
</div>

