<!-- About page -->
<div class="container pl-75">
<h1>About Us<h1>
</div>
<div class="rectangle"></div>

<div class="container pl-75">
<br>
<p class="b">We called as a leader & operates in raw mobile batteries which has the best features, the range of models variety, the original capacity up to 4000 mAH where as most Chinese products have the average quality under 1000 mAh. Since brands don’t have their own process to maintain and develop good quality battery</p>
</div>
<br><br>
<center>
<div class="container pl-75">
<div class="card mb-3 shadow bg-white rounded" style="max-width: 900px;">
  <div class="row no-gutters">
    <div class="col-lg-6 col-md-12 col-sm-12 col-12">
    <%=image_tag("v.jpg", class:"img-fluid", width:"100%")%>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-12">
      <div class="card-body">
        <h5 class="card-title">Our Vision</h5>
        <p class="card-text">Our vision is to be earth's most customer centric company; to build a place where people can come to find and discover anything they might want to buy online.</p>
        <button type="button" class="btn btn-dark mb-3">Learn more</button>
      </div>
    </div>
  </div>
</div>
</div>
</center>

<br><br>

<center>
<div class="container pl-75">
<div class="card mb-3 shadow bg-white rounded" style="max-width: 900px;">
  <div class="row no-gutters">
    <div class="col-lg-6 col-md-12 col-sm-12 col-12">
    <div class="card-body">
        <h5 class="card-title">Our Story</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <button type="button" class="btn btn-dark mb-3">Learn more</button>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-12">
    <%=image_tag("s.jpg", class:"img-fluid", width:"100%")%>
    </div>
  </div>
</div>
</div>
</center>

<br><br>
</div>