<!-- Contact page -->
<div id="last">
<div class="container pl-75">
<h1>Contact Us</h1>
</div>
<div class="rectangle"></div>
<br><br>
<div class="container">
<div class="mb-8 rounded">
  <div class="row">
  <div class="col-lg-7 col-md-12 col-sm-12 col-12 ">
      <%= render(:partial => 'form')%>
    </div>
    <div class="col-lg-5 col-md-12 col-sm-12 col-12 gfg">
    <br>
    <h2>Contact Information</h2>
    <p>Any question or query? just write us a message!</p>
    <br>
    <ul id="contact_ul">
   <li id="li_phone"> <ion-icon name="call"><i class="fa fa-phone"></i></ion-icon><a>+(92)77750432</a>
<br>
   </li>
   <br>
    <li id="li_email"><ion-icon name="mail"><i class="fa fa-envelope"></i
    ></ion-icon><a>skydevelopers.net@gmail.com</a></li>
    <br>
    <li id="li_email"><ion-icon name="mail"><i class="fa fa-map-marker"></i
    ></ion-icon><a>johar town lahore</a></li>
 </ul>
    </div>
    
  </div>
</div>
</div>
<br><br>

     